body{
margin: 0;
padding: 0;
background: rgba(200, 200, 210, 0.2);
}

*{
font-family: arial;
color: rgba(0, 0, 0, 0.6);
box-sizing: border-box;
line-height: 1.5;
letter-spacing: 1px;
}

.flex{
display: flex;
justify-content: center;
align-content: center;
align-items: center;
}

h1{
text-align: center;
}

#btnBox{
position: fixed;
top: 0px;
right: 10px;
text-align: center;
}

#btnBox p{
padding: 0.5em 1em 0.5em 1em;
background: rgba(200, 50, 6, 0.8);
color: #FFF;
margin-right: 2px;
border-radius: 50%;
}

#btnBox a{
text-decoration: none;
}

#section-1{
display: flex;
justify-content: space-evenly;
width: 100%;
padding: 1em 0em 1em 0em;
}

#section-1 form{
flex-basis: 28%;
}

.box{
border-radius: 20px;
padding: 1em;
box-shadow: -5px -1px 30px rgba(225, 225, 225, 0.5), 4px 2px 40px rgba(0, 0, 0, 0.5);
background: #FFF;
}

.box p{
font-weight: bold;
padding: 8px 0px 8px 0px;
margin: 0;
}


input[type="number"], input[type="date"], #section-1 input[type="submit"]{
width: 100%;
padding: 5px;
outline: none;
}

input[type="number"], input[type="date"]{
border: 1px solid #CCCCCC;
border-radius: 2px;
}

input[type="submit"]{
background: rgba(105, 100, 225, 0.8);
border: none;
color: #FFF;
padding: 1em;
border: 1px dashed #FFF;
}

.dateFlex{
justify-content: space-between;
}

.dateFlex span{
flex-basis: 45%;
}

#section-2{
background: #F4F4F4;
padding: 0em;
position: fixed;
top: 0;
left: 0;
right: 0;
overflow: hidden;
height: 0px;
transition-duration: 0.5s;
}

/*#noticeBox{
background: #FFFFFF;
padding: 1em;

}*/

#closeNotice{
border: none;
background: rgba(250, 50, 50, 0.8);
color: #FFF;
padding: 5px;
font-weight: bold;
border-radius: 5px;
}

#section-3{
position: fixed;
top: 0;
right: -1400px;
left: 1400;
background: #FFF;
padding: 1em;
text-align: center;
transition-duration: 0.75s;
width: 100%;
height: 100%;
}

#section-3:hover{
right: 0;
left: 0;
}

#cart-container{
justify-content: space-evenly;

padding: 1em 0em 1em 0em;
}

.cart-box{
display: grid;
grid-template-columns: auto auto;
max-width: 400px;
padding: 1em 0.5em 0em 0.5em;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 10px;
}

.cartCol{
margin: 0;
padding: 5px;
text-align: left;
}

h4{
padding: 0px 0px 10px 0px;
margin: 0;
text-align: center;
}

.fullCol{
grid-column: 1/3;
text-align: center;
}

.delbtn input[type="submit"]{
width: 100%;
border: none;
background: rgba(200, 50, 50, 0.7); 
padding: 5px;
border-radius: 5px;
}

#btngrp{
justify-content: space-evenly;
}

@media(max-width: 1200px){

#section-1{
flex-direction: column;
}

.box{
max-width: 400px;
margin: 40px auto;
}

}

@media(max-width: 500px){
h1{
text-align: left;
}

.box{
box-shadow: none;
border-radius: 0;
}	
}