/*font-family: 'Courgette', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;*/
body{
margin: 0;
padding: 0;
background: #FF6347;
}

*{
line-height: 1.6;
font-weight: 700;
color: #666666;
font-family: arial;
box-sizing: border-box;
letter-spacing: 2px;
font-family: 'Lobster Two', cursive;
}

input{
	outline: none;
}

a{
	text-decoration: none;
}

header a{
	text-decoration: none;
	padding: 10px;
	border: 1px solid #FFF;
	color: #FFF;
	margin: 5px;
}

header span, header sup{
	color: #FFF;
}

header{
	display: flex;
	justify-content: space-between;
}

#menuSection{
max-width: 600px;
margin: 0 auto;
padding: 5px;
}

h3{
text-align: center;
margin-top: 50px;
color: #FFF;
font-family: 'Courgette', cursive;
}

.qtyBtns{
border: none;
font-weight: bold;
}

.qtyInput{
width: 40px;
text-align: center;
outline: none;
border-radius: 5px;
border: none;
}

.gridItems{
margin: 30px auto;
display: grid;
grid-template-columns: auto auto auto;
justify-content: space-evenly;
background: #FFF;
border-radius: 10px;
padding: 0.5em;
/*box-shadow: 2px 3px 10px #4C4C4C;*/
}

.descr{
grid-column: 1/4;
}

.adBtn{
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin: 0;
	color: #FF6347;
}

input[type="number"]{
max-width: 50px;
}


/*------ cartList.php CSS ---------*/

#cartBox{
	background: #FFF;
	max-width: 700px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	border-radius: 10px;
}

#aplCode{
	padding: 1em;
}

#aplCode input[type="text"]{
	padding: 10px;
	border: none;
	border-bottom: 2px solid #CCCCCC;
}

table, tr, th, td{
	border-collapse: collapse;
	padding: 1em;
	margin: 0 auto;
}

.left-border{
	border-left: 1px solid rgba(255, 99, 71, 0.3);
}

#btnBottom{
	display: flex;
	justify-content: space-evenly;
}

#btnBottom input[type="submit"]{
border: none;
padding: 10px;
transition-duration: 0.3s;
box-shadow: 2px 2px 5px #4C4C4C;
border-radius: 2px;
}

#btnBottom input[type="submit"]:hover{
box-shadow: 3px 3px 7px #4C4C4C;
padding: 8px;
}
