html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: cursive;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
    scroll-behavior: smooth;
    line-height: 2em;
    letter-spacing: 0.1em;
    word-spacing: 0.05em;
}

.padding{
    padding-top: 80px;
    padding-bottom: 80px;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#sec_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background: url(image/bg1.png) no-repeat;
    background-size: 100% 100%;
}

#tourBtn{
    position: absolute;
    left: 10px;
    top: 10px;
    border: none;
    color: #fff;
    background: rgba(12, 110, 120, 0.8);
    box-shadow: 5px 5px 4px rgba(204, 204, 204, 0.8);
    padding: 10px;
}

#jd{
    font-size: 1.5rem;
    width: 60%;
    text-align: justify;
    margin: 10px;
    padding-left: 2em;
font-family: Gabriola;
}

#introText{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #000;
width: 70%;
}

#introText p{
    padding: 0;
    margin: 0;
}

#profileBox{
    background: #fff;
    padding: 0em 4em 0em 0em;
    text-align: center;
    margin: 10px;
    border-right: 4px solid rgba(204, 204, 204, 0.8);
}

#profilepic{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    text-align: center;
}

#pfimg{
width: 100%;
border-radius: 50%;
height: 100%;
box-shadow: 2px 2px 10px rgba(204, 204, 204, 1);
}

#sec_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    /* background: url('image/bg3.png') no-repeat;
    background-size: 100% 100%;
    margin: 5em 0em 5em 0em; */
    
    background: url(image/bg2.png) no-repeat;
    background-size: 100% 100%;
}

#expcontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 2em 1em 2em 1em;
}

.internlogo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

.expboxbg{
position: relative;
background: #fff;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
border-radius: 10px;
margin: 40px;
}

.expbox{
padding: 2em 1em 2em 1em;
}

.expboxbg:hover .internlogo{
    width: 54px;
    height: 54px;
    transition: 0.3s;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sec_3{    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 100vh;    
    background: url('image/bg3.png') no-repeat;
    background-size: 100% 100%;
    margin: 5em 0em 5em 0em;
    color: #fff;
}

#sec_3 h2{
border-bottom: 2px solid #fff;
padding-bottom: 10px;
}

.skillbox{
width: 200px;
text-align: center;
padding-top: 1em;
}

.skilltitle{
    font-size: 2em;
}

.progressBar{
border: 2px solid rgba(204, 204, 204, 0.8);
margin: 2em 1em 1em 1em;
border-radius: 20px;
overflow: hidden;
}

.transl1{
    transform:translateY(-100px);
}

.transl2{
    transform:translateY(100px);
}


.progress1{
width: 80%;
}

.progress2{
    width: 90%;
}

.progressBar p{
background: #000;
padding: 5px;
margin: 1px;
border-radius: 20px;
color: #fff;
font-size: 10px;
}

#sec_4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
}

.edubox{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.edubox img{
    width: 100%;
    height: 100%;
}
.col_r, .col_l{
    margin: 10px;
}
.col_r{
    width: 250px;
    height: 150px;
    box-shadow: 10px 10px 5px rgba(204, 204, 204, 0.8);
}

#sec_5{   
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.projectbox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    border: 1px solid rgba(204, 204, 204, 0.5);
    padding: 10px 0px 10px 0px;
    margin-top: 20px;
}

.projectboxinner{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.slimgBox{
    width: 300px;
    height: 200px;
    display: flex;
}

.slimgBox img{
    display: none;
}

img{
    width: 100%;
}

.vfwBtn{
    text-align: center;
    padding: 10px;
    background: #000;
    color: #fff;
}

iframe{
    height: 100%;
    width: 100%;
}

.descBox{
padding: 10px;
}

.descBox span{
padding: 10px;
}


#sec_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#certBox{
display: flex;
justify-content: center;
align-items: center;
}

.certInnerBox{
    width: 300px;
    margin: 5px;
}

.certInnerBox img{
width: 100%;
}

.certInnerBox p{
    text-align: center;
    padding: 10px;
    margin: 0;
}

header{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

@media only screen and (max-width: 1000px){

    #sec_1{
        height: auto;
    }

    #sec_2{
        height: auto;
    }

    .expboxbg{
        width: 100%;
    }

    #expcontainer{
        flex-direction: column;
    }

    #sec_3{
        flex-direction: column;
        background: none;
        height: auto;
        border: 1px solid blacK;
        background: #354F6F;
        padding-top: 20px;
        padding-bottom: 20px;
        /* color: #000; */
    }
.transl1, .transl2{
transform: translate(0px);
margin-top: 10px;
}

.edubox{
width: 100%;
margin: 10px;
flex-direction: column;
}

.col_r{
    width: 250px;
    height: 150px;
    box-shadow: none;
}

.col_r1{
    order: 1;
}

.col_l1{
    order: 2;
}

.projectboxinner{
    flex-direction: column;
}

#sec_4{
    height: auto;
}

#sec_5{
    height: auto;
}

iframe{
    width: 100%;
}

.projectbox{
    width: 90%;
}
}

@media only screen and (max-width: 800px){

#profileBox{
    border: none;
    padding: 0px;
    margin-top: 60px;
}

#jd{
    display: none;
}

#certBox{
    flex-direction: column;
}
.certInnerBox{
    width: 100%;
    margin: 5px;
}
header{
    flex-direction: column;
}
}