::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

*{
    scrollbar-width: thin;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;            
}

body{
    padding: 0;
    margin: 0;
    font-family: Harrington;
}

#navbar{
    font-family: Brush Script MT;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(204, 204, 204, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    position: relative;
}

#navLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;;
}

#navbar h1, #navbar h4{
    padding: 15px 10px 10px 15px;
    margin: 0px;
}

#navbar h4:hover{
    background: #000;
    color: #fff;
}

.padding{
    padding-top: 40px;
    padding-bottom: 40px;
}

/* section 1 (Introduction) */
#section-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: center;
    margin: 0 auto;
}


#imgBox{
width: 50%;
margin-top: 20px;
}

#profileImg{
    height: 400px;
    width: 400px;
    box-shadow: 30px 40px 30px rgba(204, 204, 204, 0.7);
}

#txtslide{
    padding: 10px;
    width: 50%;
}

.txtbox {
    display: none;
    width: 100%;
}
/* section 1 (Introduction) END*/


/* Section 2 (Resume and Project)  */
#section-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#resume{
    width: 50%;
    border: 5px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

table{
    border-spacing: 0;
    overflow: auto;
}

table, tr, th, td{
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
}

th{
    width: 30%;
    background: rgba(23, 21, 233, 0.8);
    color: #fff;
    padding-left: 0.5em;
}

td{
    width: 70%;
    padding-left: 1em;
}

#projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    text-align: justify-All;
    width: 40%;
}

.projectbox{
    width: 250px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    height: 100%;
    border-radius: 5px;
}

.projectbox:hover{
    box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.8);
    border: none;
    transition: 1s;
}

.projectbox h4, .projectbox p{
    align-self: flex-start;
    margin: 0px;
    padding: 5px;
}

.projectbox img{
    height: 150px;
    width: 100%;
}

.tranpro1{
    transform: translateY(-70px);
}

.tranpro2{
    background: #000; 
    color: #fff;
    transform: translateY(-70px);
}

hr{
    width: 40px;
    height: 3px;
    background: rgb(83, 83, 83);
    border: none;
}
/* Section 2 (Resume and Project) END */


/* section 3 (Certifications) */
#section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

#certiBox{
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    text-align: center;
}

.certimg{
    margin: 0;
    width: 350px;
    text-decoration: underline;
}

.certimg img{
    width: 100%;
    height: 200px;
}
/* section 3 (Certifications) END*/


@media screen and (max-width: 1100px){

    #section-1{
        flex-direction: column;
    }

    #txtslide{
        height: 150px;
    }

    #section-2{
        flex-direction: column;
        height: auto;
    }

    .tranpro1, .tranpro2{
        transform: none;
    }

    #section-3{
        padding-top: 20px;
        height: auto;
    }

    #certiBox{
        display: block;
    }

    .certimg{
        margin-top: 15px;
    }
}
@media screen and (max-width: 600px){
    #navLink{
        overflow: hidden;
        display: block;
        height: 0px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
    }

    #navbar:hover #navLink{
       height: 100px;
       transition: 1.5s;
    }

    #imgBox{
        width: 100%;
    }

    #projects{
        display: block;
    }

    .projectbox{
        margin-top: 15px;
    }
    
}