::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}

*{
    scrollbar-width: thin;
    box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 0.2em;
    word-spacing: 0.2em;            
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    font-family: Brush Script MT;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0px 10px 10px rgba(204, 204, 204, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 10;
    position: relative;
}

#navLink{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: #000;;
}

#navbar h1, #navbar h4{
    padding: 15px 10px 10px 15px;
    margin: 0px;
}

#navbar h4:hover{
    background: #000;
    color: #fff;
}

.padding{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* section 1 (Introduction) */
#section-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}


#imgBox{
width: 50%;
margin-top: 20px;
}

#profileImg{
    height: 300px;
    width: 300px;
    box-shadow: 30px 40px 30px rgba(204, 204, 204, 0.7);
}

#txtslide{
    padding: 10px;
    width: 50%;
    font-size: 1.5vw;
}

#txtslide ul{
list-style-type: none;
}
.txtbox {
    display: none;
    width: 100%;
}
/* section 1 (Introduction) END*/


/* Section 2 (Resume and Project)*/
#section-2{
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2em;
}

#section-2 h1{
    width: 150px;
    text-align: center;
    border-bottom: 2px dotted black;
    padding-bottom: 1vw;
}

#resumeBox{
    text-align: justify-All;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    border: 20px solid rgba(204, 204, 204, 0.7);
    padding: 2vw;
}

#resumeBox li{
list-style-type: none;
padding: 0;
margin: 0;
}

#resumeBox h5{
    padding-right: 2vw;
    margin: 0;
}

#resumeBox div,#resumeBox p{
margin: 0;
padding-bottom: 1vw;
}
/* Section 2 (Resume and Project) END */


/* Section 3 (Resume and Project)  */
#section-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(image/books.png) no-repeat;
    background-position: right;
    background-size: 40% 60%;
    background-attachment: fixed;
}

#section-3 #resume, #section-2 #projects{
    width: 50%;
    margin: 0 auto;
}

#projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5vw;
    text-align: justify-All;
    margin-left: 4vw;
}

.projectbox{
    box-shadow: 30px 30px 10px rgba(204, 204, 204, 0.7);
    width: 250px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    height: 100%;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    border: 2px solid rgba(204, 204, 204, 0.7);
}

.projectbox:hover{
    box-shadow: 10px 10px 10px rgba(204, 204, 204, 0.8);
    border: none;
    transition: 1s;
}

.projectbox h4, .projectbox p{
    margin: 0px;
    padding: 5px;
}

.projectbox img{
    height: 150px;
    width: 100%;
}

.tranpro1{
    transform: translateY(-70px);
}

.tranpro2{
    transform: translateY(-70px);
}

hr{
    width: 40px;
    height: 3px;
    background: rgb(83, 83, 83);
    border: none;
}
/* Section 3 (Resume and Project) END */


/* section 4 (Certifications) */
#section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

#certiBox{
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    text-align: center;
}

.certimg{
    margin: 0;
    width: 350px;
    text-decoration: underline;
}

.certimg img{
    width: 100%;
    height: 200px;
}
/* section 4 (Certifications) END*/


@media screen and (max-width: 1100px){

    section{
        display: block;
    }

    #section-1{
        flex-direction: column;
    }

    #txtslide{
        height: 150px;
        width: 100%;
    }

    #resumeBox{
        width: 90%;
    }

    #section-3{
        flex-direction: column;
        height: auto;
        background: none;
    }

    #section-3 #resume, #section-3 #projects{
        width: 100%;
        margin: 0 auto;
    }

    #projects{
        margin: 0 auto;
    }

    .projectbox{
        margin: 10px auto;
    }

    .tranpro1, .tranpro2{
        transform: none;
    }

    #section-3{
        padding-top: 20px;
        height: auto;
    }

    #certiBox{
        display: block;
    }

    .certimg{
        margin-top: 15px;
    }
}
@media screen and (max-width: 600px){
    #navLink{
        overflow: hidden;
        display: block;
        height: 0px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
    }

    #navbar:hover #navLink{
       height: 100px;
       transition: 1.5s;
    }

    #imgBox{
        background: orange;
    }

    #profileImg{
        height: 150px;
        width: 150px;
        box-shadow: 10px 10px 30px rgba(204, 204, 204, 0.7);
    }

    #resumeBox{
        display: block;
    }

    #resumeBox h5{
        margin-top: 5px;
        padding-top: 1vw;
        border-bottom: 2px solid rgba(204, 204, 204, 0.5);
    }
    #projects{
        display: block;
    }

    .projectbox{
        margin-top: 15px;
    }
    
}